html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family: 'Archivo';
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

#btn-login {
  background: linear-gradient(90deg, #AEA9DD, white);
  border: 0.4px solid white;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;


}

#btn-login:hover {
  border: 0.8px solid white;
  box-shadow: 0px 10px 17px #DCDAF047;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #CAC7E9 !important;
}

.nav-item:hover {
  background-color: #FFFFFF1A;
  border-radius: 4px;
  color: #1f1f21 !important;
}

body {
  background-color: #000;
  /* Base black background */
  background-image:
    url('/Assets/Background/Ellipse3.png'),
    url('/Assets/Background/Ellipse2.png'),
    url('/Assets/Background/Ellipse1.png'),
    url('/Assets/Background/Ellipse4.png'),
    url('/Assets/Background/Ellipse5.png'),
    url('/Assets/Background/Maskgroup.png'),
    url('/Assets/Background/imageBottom.png');
  background-position:

    top -10% left,
    /* First image */
    top left,
    /* Second image */
    top left,
    /* Third image */
    top right,
    top right,
    top center,
    top center;

  /* Fourth image */

  background-repeat: no-repeat;

  background-size:
    600px 400px,
    /* First image */
    900px 300px,
    /* Second image */
    1300px 300px,
    /* Third image */
    1500px 400px,

    1300px 300px,
    100% auto,
    100% auto;
  /* Fourth image */
}

body::before {
  background-color: #c6bcbc7c;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: white;
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

/* Logo Styling */
.logo {
  width: 200px;
  height: auto;
}

/* Login Card with Black Background & Gradient Border */
.login-card {
  background-color: #63636373;
  /* Black Background */
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  position: relative;
  text-align: center;
  border-radius: 15px;
}
.gradient-text {
  background: linear-gradient(45deg, #00ff87, #60efff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-heading {
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 2rem 0;
}

.subtitle {
  font-size: 1.25rem;
  opacity: 0.8;
}