@page
@model MyRazorApp.Pages.ScienceFictionModel
@{
    ViewData["Title"] = "Science Fiction";
}

<div class="text-center">
    <h1 class="display-4">Science Fiction</h1>
    <p>Dive into the world of sci-fi movies and books.</p>
</div>